[Unit]
Description=Run Project Monitoring System Laravel scheduler every minute

[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true
Unit=pms-schedule.service

[Install]
WantedBy=timers.target
